body {
    background-color: #393939;
    display: flex;
    flex-direction: column;
}

.navBar {
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px !important;
    margin-bottom: 40px;

    .logo {
        flex: 1;

        img {
            width: 150px;
            margin-left: 20px;
        }
    }

    .titulo {
        flex: 4;

        h1 {
            color: white;
            font-size: 3.2rem;
            text-align: center;
            font-family: "Roboto Mono", monospace;
            font-weight: 300;
        }
    }

    .espaciador {
        flex: 1;
    }
}

.content {
    display: flex;
    flex-direction: row;

    .consumo {
        flex: 2;
        margin: 10px;
        margin-right: 40px;
        display: flex;
        flex-direction: column;

        .tituloConsumo {
            flex: 1;
            margin-bottom: 20px;
        }

        .datos {
            flex: 5;
            display: flex;
            flex-direction: column;

            .linea {
                display: flex;
                flex-direction: row;



                p {
                    flex: 1;
                    color: rgb(226, 228, 241);
                    text-align: end;

                    font-weight: 500;
                    font-size: 1.5rem;
                    font-family: "Roboto Mono", monospace;

                }

                .flex-2 {
                    flex: 2;
                    text-align: start;
                }

            }

            .lineaTotal p {
                font-size: 2.2rem;
                color: rgb(187, 192, 225);

            }

        }
    }

    .generacion {
        flex: 3;
        display: flex;
        flex-direction: row;

        .divGrafica {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .detalles {
            flex: 2;
            display: flex;
            flex-direction: column;

            div {
                flex: 1;
                display: flex;
                flex-direction: column;


                .numeros {
                    display: flex;
                    flex-direction: row;

                    p {
                        flex: 1;
                        font-size: 3rem;
                        font-family: "Roboto Mono", monospace;
                        font-weight: 500;
                        text-align: center;
                    }
                }

            }
        }
    }
}

.cuadrito {
    background-color: #161616;
    margin: 10px;
    border-radius: 20px;
    padding: 15px 50px;
}

.titulo2 {

    h2 {
        font-weight: 500;
        font-size: 2.2rem;
        font-family: "Roboto Mono", monospace;
        text-align: center;
    }
}

.tituloConsumo>h2 {
    color: rgb(168, 176, 214);
}

.tituloSolar>h2 {
    color: rgb(46, 234, 143);
}

.tituloNormal>h2 {
    color: rgb(255, 50, 50);
}

.colorSolar>p {
    color: rgb(172, 241, 155) !important;
}

.colorNormal>p {
    color: rgb(251, 112, 112) !important;
}


footer {
    margin-top: 50px;
    text-align: center;
    color: rgb(138, 137, 137);
}


.ocultos {
    display: none;
}







.contenedor {
    position: relative;
    width: 180px;
    height: 500px;
    background: #ddd;
    border-radius: 40px;
    overflow: hidden;
}

/* Barras */
.barra-superior,
.barra-inferior {
    position: absolute;
    width: 100%;
    background-color: rgb(59, 219, 134);
    transition: height 0.3s ease;
}

.barra-superior {
    top: 0;
    border-bottom: 2px solid #fff;
}

.barra-inferior {
    bottom: 0;
    background-color: rgb(255, 36, 36);
    border-top: 2px solid #fff;
}

/* Ãconos */
.icono-superior,
.icono-inferior {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #333;
    transition: opacity 0.3s;
    z-index: 2;
}

.icono-superior {
    top: 10px;
}

.icono-inferior {
    bottom: 10px;
}





@media (max-width: 768px) {

    .navBar {

        .titulo {
            flex: 5 !important;

            h1 {
                font-size: 1.8rem !important;
            }
        }

        .espaciador {
            display: none;
        }
    }


    .content {
        flex-direction: column-reverse;

        .consumo {
            margin-right: 0px !important;
        }

        .numeros {
            flex-direction: column !important;

            p {
                margin: 5px;
            }
        }


        .cuadrito {
            padding: 10px 20px;
        }

        .linea>p {
            font-size: 1.1rem !important;
        }


        .lineaTotal>p {
            font-size: 1.2rem !important;
        }
    }

    .contenedor {
        width: 100px;
    }

    .titulo2>h2 {
        font-size: 2rem;
    }

    .numeros>p{
        font-size: 2.5rem !important;

    }
}